/* GLOBAL */

* {
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    color: hsl(217, 12%, 63%);
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 27em;
    height: 27em;
    background-image: radial-gradient(at 50% 0%, hsl(216, 12%, 54%), hsl(213, 19%, 18%));
    border-radius: 20px;
    margin-top: 10%;
}

.tab {
    display: none;
}



/* Rating Page */

.Rating-state {
    display: grid;
    height: 90%;
    width: 90%;
    padding: 5%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
}



.star {
    background-color:hsl(213, 19%, 18%);
    padding: 0.9rem;
    border-radius: 50%;
    grid-area: 1 / 1 / span 1 / span 1;
}

.rating-title {
    color: white;
    font-size: 1.8rem;
    grid-area: 2 / 1 / span 1 / span 5;
    margin-bottom: 0;
    margin-top: 10%;
    letter-spacing: 0.1rem;
}

.rating-text {
    grid-area: 3 / 1 / span 2 / span 5;
    line-height: 1.5rem;
}


/*Radio Button Section */

.score-container {
    grid-area: 5 / 1 / span 2 / span 5;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

label.radio {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio_input {
    display: none;
}

.radio_radio {
    background-color: hsla(213, 17%, 38%, 1);
    color: white;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    width: 25%;
    text-align: center;
    opacity: 0.6;
}

.radio_radio:hover {
    background-color: hsl(25, 97%, 53%);
    transition: 0.1s;
}

.radio_input:checked + .radio_radio {
    opacity: 1;
    background-color: green;
}

.radio_input:checked ~ .radio_radio {
    background-color: hsl(25, 97%, 53%);
    opacity: 1;
    transition: 0.3s;
}


/* Button Section */


.button-container {
    display: flex;
    grid-area: 7 / 1 / span 2 / span 5;
    justify-content: center;
    align-items: center;
}


#score-submit {
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 500px;
    border:1px solid hsl(25, 97%, 53%);
    text-align: center;
    height: 50%;
    width: 100%;
}

#score-submit:hover {
    color: hsl(25, 97%, 53%);
    background-color:white;
    transition: 0.3s;
}



/* Thankyou Page */

.Thankyou-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

#rating-sentence {
    color: hsl(25, 97%, 53%);
    background-color:hsla(213, 17%, 38%, 1);
    padding: 0.5rem;
    border-radius: 500px;
    margin: 10% 0 0 0;
}

#rating-score {
    color:hsl(25, 97%, 53%);
}

#thankyou-text {
    line-height: 1.5rem;
    text-align: center;
}


.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* MOBILE SECTION */

@media only screen and (max-width: 450px) {
    
    * {
        font-size: 14px;
    }


    .container {
        width: 90%;
    }

    .score-container {
        height: 70%;
        padding-top: 10%;
    }

}